@font-face {
  font-family: 'PlayenSans';
  src: url('/fonts/playen_sans/PlayenSans-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'teresatitle';
  src: url('/fonts/Teresa/OpenType-TT/Teresa-Bold.ttf');
  font-display: swap;
}
