$primary-color-light: #a5bbc7;
$primary-color-main: #214a60;
$primary-color-dark: #051c2c;
$secondary-color-dark: #ac6d3a;
$secondary-color-dark-transparent: rgba(57, 70, 86, 0.85);
$secondary-color-main: #b78a64;
$secondary-color-light: #baa89b;
$light-color: #eef7fc;

$spacing-2: 12px;
$spacing-3: 1rem;
$spacing-4: 2rem;
$spacing-5: 3rem;

$main-font: PlayenSans, GillSansRegular, 'Gill Sans MT', 'Gill Sans', Calibri,
  'Trebuchet MS', sans-serif;
$title-font: teresatitle, GillSansRegular, 'Gill Sans MT', 'Gill Sans', Calibri,
  'Trebuchet MS', sans-serif;

$navbar-height: 72px;
