h1 {
  font-family: $title-font;
  text-align: center;
  margin: 0;
  font-size: 2rem;
  color: $secondary-color-main;
}

p {
  margin: 0;
}

a {
  color: $secondary-color-dark;
  text-decoration: none;
  display: inline-block;
  padding: 2px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-weight: 600;

  &:hover,
  &:active {
    @include text-bold;
  }



  &:before {
    content: '';
    background-image: linear-gradient(to right, $secondary-color-main, $secondary-color-main 50%, $light-color 50%);
    background: $secondary-color-main;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-position: 0;
  }

  &:hover::before {
    width: 100%;
  }
}

section {
  background-color: $light-color;
  padding: $spacing-5;

  h1 {
    text-align: center;
    margin: 0;
    padding: $spacing-3;
    color: $secondary-color-dark;
  }

  &.dark {
    background-color: $primary-color-main;
    color: $light-color;

    h1 {
      color: $primary-color-light;
    }

    a {
      color: $light-color;
    }
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: $spacing-4;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px;
}

.button {
  transition: all 1s ease-out;
  padding: 10px 15px;
  border: 1px solid $secondary-color-main;
  min-width: 150px;
  margin-right: 6px;
  margin-bottom: 8px;
  font-size: 1.5rem;
  text-align: center;

  &:hover {
    background-color: $primary-color-light;
    color: $primary-color-dark;
  }

  &.primary {
    background-color: $primary-color-main;
    color: $light-color;

    &:hover {
      background-color: $secondary-color-light;
      color: $primary-color-dark;
    }
  }
}

.divider {
  width: 40%;
  border-color: $primary-color-main;
  position: relative;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    background: $secondary-color-dark;
    display: inline-block;
    border: 2px solid $primary-color-main;
    position: absolute;
    top: -5px;
    left: 50%;
    margin: 0 0 0 -3px;
    border-radius: 16px;
  }
}

@media (max-width: 600px) {
  .divider {
    width: 90%;
  }
}

.icon {
  max-width: 3rem;
  font-size: 3rem;
  color: $secondary-color-main;
}

.button.doctolib {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: $primary-color-dark;

  &:hover {
    font-weight: unset;
  }
}

section {
  &.dark {
    .button.doctolib {
      color: $light-color;

      &:hover {
        color: $secondary-color-dark;
      }
    }
  }
}